* {
  padding: 0;
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(219, 218, 203);
}

header {
  text-align: center;
  padding: 3rem 2rem;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
}

#income-amt {
  font-size: 1.4rem;
  margin-top: 10px;
  color: rgb(22, 110, 22);
}

#expense-amt {
  font-size: 1.4rem;
  color: red;
  margin-top: 10px;
}

.main-container {
  padding: 50px;
}

.available-balance {
  text-align: center;
}

.transaction-summary {
  border: 1px solid rgb(207, 114, 26);
  border-radius: 10px;
  padding: 2rem 4rem;
  max-width: 20rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.dropdown-container {
  border: 1px solid rgb(207, 114, 26);
  padding: 2rem 4rem;
  max-width: 40rem;
  margin: 2rem auto;
  min-height: 30rem;
  /* display: flex; */
}
.dropdown-container h2 {
  font-weight: 400;
}

.button {
  font-size: 16px;
}

.form,
.text-input {
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 2rem;
}

.form,
.amount-input {
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 2rem;
}

#input-1,
#input-2 {
  margin-bottom: 20px;
}
.custom-select select {
  background-color: rgb(180, 123, 18);
  padding: 1rem 1.6rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(49, 48, 48);
}

.form .submit-btn {
  background-color: rgb(180, 123, 18);
  padding: 1rem 1.6rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(49, 48, 48);
  transition: all 0.3s ease-out;
}

.custom-select {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Transaction-history-container {
  border: 1px solid rgb(207, 114, 26);
  padding: 2rem 4rem;
  max-width: 40rem;
  margin: 2rem auto;
  min-height: 30rem;
}

#transaction li span {
  display: inline-block;
  color: black;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}

/* .Transaction-history-container {
  display: flex;
} */
#transaction {
  list-style: none;
}
#transaction li {
  display: flex;
  justify-content: space-between;
}

#transaction li .income-amt {
  background-color: rgb(22, 110, 22);
}

#transaction li .expense-amt {
  background-color: red;
}

#transaction li button {
  background-color: rgb(180, 123, 18);
  padding: 1rem 1.2rem;
  border: 0;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  color: rgb(49, 48, 48);
  margin-top: 10px;
  transition: all 0.3s ease-out;
}
